.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: #2020a0;
    background-color: #8989a0;
}

.alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
}

.alert-success {
    color: #20a0a0;
    background-color: #eeffe0;
}

.alert-warning {
    color: #ffa500;
    background-color: #eeffe0;
}

.rating span {
    color: #ecb00a;
    margin: 0.1 rem;
}

.rating span:last-child {
    color: #404040;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

header {
    grid-area: "header";
    background-color: #203040;
}

main {
    grid-area: "main";
    padding: 1rem;
}

footer {
    grid-area: "footer";
    background-color: #203040;
    color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

.brand {
    font-size: 3rem;
    font-weight: bold;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

a.hover {
    color: #ecb00a;
}

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    margin: 1rem;
    border-radius: 0.5rem;
}

.card-header h4 {
    font-size: 2.5rem;
    padding: 1rem;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-body>* {
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.card img {
    max-height: 25rem;
}

.back_screen {
    color: #203040;
    font-size: 2.5rem;
}

.col-2 {
    flex: 2 1 75rem;
}

.col-1 {
    flex: 1 1 25rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-top: 1rem;
}

.success {
    color: #008000;
}

.error {
    color: #a02020;
}

button.primary {
    background-color: #f1b20b;
    padding: 0.8rem;
    border: none;
    color: #040403;
    font-weight: 700;
    border-radius: 0.5rem;
}

button.block {
    width: 100%;
}

.row.top {
    align-items: flex-start;
}

.product-img {
    max-height: 50rem;
    margin: 0 auto;
}

#cart-icon {
    font-size: 2.8rem;
}

.badge {
    color: white;
    padding: 5px;
    margin: 1px;
    border-radius: 50%;
    position: relative;
    top: -13px;
    left: -10px;
    font-size: small;
}

.badge-success {
    background-color: green;
}

.badge-empty {
    background-color: red;
}

.cart-table td {
    border: 1px solid black;
}

.cart-table img {
    max-height: 10rem;
}

.cart-list-item li {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #80808073;
    align-items: center;
}

.cart-list-item li:first-of-type {
    border-top: 1px solid #80808073;
    font-weight: bold;
    min-height: 5rem;
}

.cart-list-item select {
    width: 5rem;
}

.small_img {
    max-height: 7rem;
}

.form {
    max-width: 60rem;
    min-width: 40rem;
    margin: 0 auto;
}

.form>div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form .checkbox-div {
    flex-direction: row;
    margin: 1rem;
}

.form label {
    margin: 1rem 0;
}

.form input {
    padding: 0.5rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-around
}

#profile_pic {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    align-items: center;
    color: #ffff;
    font-size: 2.8rem;
    text-align: center;
    margin: 0 0.5rem;
    border: 2px solid white;
    background: #4d666d;
}

.dropdown {
    position: relative;
    color: #ffffff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 42px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown i.fa.fa-caret-down {
    margin: 0 0.5rem;
}